body {
  background: linear-gradient(135deg, #2c2c398e, #19193bd5);
  color: #e0e0e0; /* Light text for dark background */
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove default margin for the app root */
app-root {
  display: flex;
  justify-content: center;
  align-items: center;
}
